<!-- Start User -->
<div id="my-posts" class="uk-container uk-container-small uk-margin" v-cloak>
  <div class="uk-grid-small uk-grid">
    <%- partial('../layouts/layout-sidebar.ejs') %>

    <!-- End Left Side -->
    <!-- Start Right Side -->
    <div class="uk-width-expand@m">
      <% if (!serviceList.length) { %>
      <div class="uk-alert uk-alert-info">
        You dont have any services yet!
      </div>
      <% }else{ %> <% serviceList.forEach(function(item){ %>
      <!-- <div
        class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-small-top uk-grid"
      >
        <div class="uk-card-media-left uk-cover-container">
          <img
            data-src="images/placeholder.png"
            alt=""
            style="height:250px;"
            uk-img
            uk-cover
          />
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-margin-remove-top">
              <a href="service/<%=item.slug%>"><%= item.title %></a>
            </h3>

            <p class="uk-text-emphasis uk-margin-small">
              <%= item.city && item.city.name ? item.city.name:'' %>, <%=
              item.state && item.state.name ? item.state.name:'' %>, <%=
              item.country && item.country.name? item.country.name:'' %>
            </p>
            <p class="uk-margin-remove-top">
              Compansation : <%= item.compensation?item.compensation:'' %>
            </p>
          </div>
          <div>
            <button
              v-on:click="deletePost('<%=item.id%>')"
              class="service-option"
            >
              Delete
            </button>
            <a href="/editService/<%= item.slug %>">
              Edit
            </a>
          </div>
        </div>
      </div> -->
      <!-- Top Part -->
      <% }) %> <% } %>

      <template>
        <div
          v-for="item in myServiceList"
          class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-small-top uk-grid"
        >
          <%- partial('myserviceitem.ejs') %>
        </div>
      </template>
      <!-- Start Pagination -->
      <!-- <div class="uk-background-default">
                <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
                    <li><a href="#"><span uk-pagination-previous></span></a></li>
                    <li class="uk-active"><a href="#">1</a></li>
                    <li class="uk-disabled"><span>...</span></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li ><span>7</span></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#"><span uk-pagination-next></span></a></li>
                </ul>
            </div> -->
      <!-- End Pagination -->
    </div>
    <!-- End Right Side -->
  </div>
</div>
<!-- End User -->
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
