<div id="homepage" v-cloak>
  <%- partial('../common/location_modalblock.ejs') %>
  
  <%- partial('hero.ejs') %>
  <%- partial('category_block.ejs') %> <%- partial('hotservice_block.ejs') %>
  <%- partial('recentlisting_block.ejs') %> <%- partial('how_works.ejs') %>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
