<section id="service-list" class="service-list uk-background-muted uk-section">
        <div class="uk-section">
           <div class="uk-container">
              <div id="recent-service-header" class="uk-grid">
                 <div class="uk-width-3-4@m">
                    <div class="section-heading uk-margin-medium-bottom uk-text-left">
                       <!-- Section Sub Title -->
                       <h4 class="uk-heading-small uk-margin-small uk-text-uppercase">Explore</h4>
                       <!-- Section Title -->
                       <h1 class="uk-heading-medium uk-margin-remove-top">Recent Listing</h1>
                    </div>
                    <!-- Section heading -->
                 </div>
                 <div class="uk-width-1-4@m uk-margin-small-top uk-margin-bottom">
                    <div class="">
                       <label class="uk-form-label" for="form-horizontal-select">
                       
                       </label>
                       <div class="uk-form-controls">
                          <select class="uk-select" @change="onChange" name="category_search">
                             <option value="">Select Category</option>
                             <% data.category.forEach(function(item){ %>
                             <option value="<%= item.id %>"><%= item.name %></option>
                             <% item.child_categories.forEach(function(item){ %>
                             <option value="<%= item.id %>">-- <%= item.name %></option>
                             <% }); %>
                             <% }); %>
                          </select>
                       </div>
                       <!-- <div class="uk-form-controls">
                          <select class="cate-dropdown uk-hidden@s"  @change="onChange" name="category_search">
                          
                          <option value="">Select Category</option>
                          <% data.category.forEach(function(item){ %>
                              <option value="<%= item.id %>"><%= item.name %></option>
                              <% item.child_categories.forEach(function(item){ %>
                                  <option value="<%= item.id %>">-- <%= item.name %></option>
                              <% }); %>
                          <% }); %>
                          </select>
                          </div> -->
                    </div>
                 </div>
                 <!-- uk-width-1-4 -->
              </div>
              <div id="modal-center" class="uk-flex-top" uk-modal>
                 <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <%- partial('../common/modallogin.ejs') %>
                 </div>
              </div>
              <!-- <div class="section-heading uk-margin-large-bottom uk-text-center">
              </div> -->
                 
 <!-- Section heading -->

      <div class="uk-margin-remove-top  " style="display: none;">
         <% data.servicesRecent.forEach(function(item){ %>
         <%- partial('../common/service_item.ejs', { item: item }) %>
         <% }); %>
      </div>
      <!-- <template v-if="serverdata">
    </template> -->
      <!-- uk-grid -->


<!-- loader -->
   <template v-if="!serverdata">
      <div id="loaderServiceLoader" v-if="spin">
         <span class="uk-flex uk-flex-center uk-padding-large" uk-spinner="ratio: 4.5"></span>
      </div>
      <!-- no service found -->
      <template v-if="!servicecount && !spin">
         <div class="uk-alert uk-alert-warning">
            No Service found for this category!
         </div>
      </template>
      <!-- serviceListDynamic -->
      <div id="serviceListDynamic" v-if="servicecount && !spin" class="uk-grid uk-margin-remove-top">
         <template>
            <div v-for="item in service" class="uk-width-1-4@m uk-width-1-1@s uk-margin-medium-bottom home-recenlistingitem-bottom-margin">
               <%- partial('recentlistingitem.ejs') %>
            </div>
         </template>
      </div>
   </template>





              <!-- View all -->
              <p class="uk-margin uk-text-center uk-margin-large-top loda-more-home" v-if="viewallStatus">
                 <a  @click="ShowMoreServices()" class="uk-button uk-button-primary uk-text-bold uk-button-large uk-text-uppercase">Load More</a>
              </p>
           </div>
           <!-- uk-grid -->
        </div>
        <!-- uk-container -->
        </div>
        <!-- uk-section -->
     </section>